@using BlingMe.Domain.Entities
@model BlingMeMVC.Models.ViewModels.BraceletView
@{
    ViewBag.Title = Model.Name + "'s bracelet on BlingMe";
}
<table>
    
    <tr><td rowspan="3" style="padding-right: 30px;">
            <img src="@Model.ImageUrl" height="100" />
        </td><td>
                 <h2>@Model.Name</h2></td></tr>
    <tr><td>@if (null == Model.Description || Model.Description.Length <= 1)
            {
                <h3>A @Model.Type.ToString().ToLower()</h3>
            }
            else
            {
                <h3>@Model.Description</h3>
            }</td></tr>
    <tr><td>@Html.ActionLink("Create","Create","Bracelet") | @Html.ActionLink("Edit","Edit","Bracelet",new {id = Model.ID},null) | @Html.ActionLink("Change Avatar","ChangeAvatar","Bracelet",new {id = Model.ID},null) | @Html.ActionLink("Delete","Delete","Bracelet",new {id = Model.ID},null)</td></tr>
</table>
@{



}

<div id="SVGdiv" style="padding-top:0;margin-top:0;text-align: center">
</div>

<div>offbracelet charms: <ul> @foreach (var p in Model.CharmPics)
                         {
                             if (!p.OffBracelet)
                             {
                                 continue;
                             }
                             <text><li>@Html.ActionLink(p.Name,"Bracelet","Home",new { id = p.ID},null)</li></text>
                         }</ul></div>

<link href="../Content/jquery.contextMenu.css" rel="stylesheet" />
<script src="../Content/jquery.contextMenu.js" type="text/javascript" charset="utf-8"></script>

<script>

    $(document).ready(function() {
        buildBracelet();

        $('.miniLabel').each(function() {
            var email = $(this).attr("data-email");
            $(this).contextMenu('context-menu-1', {
                'Send Email': {
                    click: function() {
                        window.location = "mailto:"+email;
                    },
                    klass: "menu-item-1"
                },
                'Start Lync Conversation': {
                    click: function() {
                        window.open("../Lync/Start/?email="+email);
                    },
                    klass: "menu-item-2"
                }
            });
        });

        var options = {};


        if ('@Model.ID' != '@Model.LoggedOnUserBracelet.ID'){
            if ('@Model.LoggedOnUserIsChild' === '@true'){
                options['Remove Me'] = {
                    click: function() {

                        $.ajax({
                            url: '../home/RemoveUser',
                            type: 'POST',
                            data: { parentBraceletId: '@Model.ID', userBraceletId: '@Model.LoggedOnUserBracelet.ID' },
                            cache: false,
                            success: function(result) {
                                window.location.href = result.Url;
                            }
                        });
                    },
                    klass: "menu-item-1"
                };
            }
            else{
                options['Add Me'] = {
                    click: function() {

                        $.ajax({
                            url: '../home/AddUser',
                            type: 'POST',
                            data: { parentBraceletId: '@Model.ID', userBraceletId: '@Model.LoggedOnUserBracelet.ID' },
                            success: function(result) {
                                window.location.href = result.Url;
                            }
                        });
                    },
                    klass: "menu-item-1"
                };
            };
        }

        switch('@Model.Type.ToString()') {
            case '@BraceletType.Person.ToString()':
                options['Send Email'] = {
                    click: function() {
                        window.location = "mailto:@Model.Email";
                    },
                    klass: "menu-item-1"
                };
                options ['Start Lync Conversation'] = {
                    click: function() {
                        @{
                                var url = Model.Email;
                                url = "../Lync/Start/?email=" + url;
                            }
                        window.open("@url");
                    },
                    klass: "menu-item-2"
                };
                options ['Email All Direct Reports'] = {
                    click: function() {
                        window.location = "mailto:@Model.DirectReportEmails";
                    },
                    klass: "menu-item-3"
                };
                options['Lync All Direct Reports'] = {
                    @{
                                url = Model.DirectReportEmails;
                                url = "../Lync/StartMulti/?emails=" + url;
                            }
                    click: function() {
                        window.open("@url");
                    },
                    klass: "menu-item-4"
                };
                options['Hold Meeting With Direct Reports'] = {
                    @{
                                url = Model.DirectReportEmails.Replace("@iress.co.uk", "");
                                url = url.Replace(".", " ");
                                url = "../Lync/NewMeeting/?emails=" + url;
                            }
                    click: function() {
                        window.open("@url");
                    },
                    klass: "menu-item-5"
                };

                break;
            case '@BraceletType.Group.ToString()':
                options['Send Group Email'] = {
                    click: function() {
                        window.location = "mailto:@Model.DirectReportEmails?subject=@Model.Name";
                    },
                    klass: "menu-item-1"
                };
                options['Start Group Lync Conversation'] = {
                    @{
                                url = Model.DirectReportEmails;
                                url = "../Lync/StartMulti/?emails=" + url;
                            }
                    click: function() {
                        window.open("@url");
                    },
                    klass: "menu-item-2"
                };
                break;
            case '@BraceletType.Location.ToString()':
                options['Book Meeting'] = {
                    @{
                                url = Model.DirectReportEmails.Replace("@iress.co.uk", "");
                                url = url.Replace(".MeetingRoom", " ");
                                url = url.Replace(".", " ");
                                url = "../Lync/NewMeeting/?emails=" + url;
                            }
                    click: function() {
                        window.location = "@url";
                    },
                    klass: "menu-item-1"
                };
                options['Send Group Email'] = {
                    click: function() {
                        window.location = "mailto:@Model.DirectReportEmails?subject=@Model.Name";
                    },
                    klass: "menu-item-2"
                };
                options['Start Group Lync Conversation'] = {
                    @{
                                url = Model.DirectReportEmails;
                                url = "../Lync/StartMulti/?emails=" + url;
                            }
                    click: function() {
                        window.open("@url");
                    },
                    klass: "menu-item-3"
                };
                break;
            case '@BraceletType.Interest.ToString()':

                options['Send Group Email'] = {
                    click: function() {
                        window.location = "mailto:@Model.DirectReportEmails?subject=@Model.Name";
                    },
                    klass: "menu-item-1"
                };
                options['Start Group Lync Conversation'] = {
                    @{
                                url = Model.DirectReportEmails;
                                url = "../Lync/StartMulti/?emails=" + url;
                            }
                    click: function() {
                        window.open("@url");
                    },
                    klass: "menu-item-2"
                };
                break;

            case '@BraceletType.Project.ToString()':
                options['Book Meeting'] = {
                    @{
                                url = Model.DirectReportEmails.Replace("@iress.co.uk", "");
                                url = url.Replace(".MeetingRoom", " ");
                                url = url.Replace(".", " ");
                                url = "../Lync/NewMeeting/?emails=" + url;
                            }
                    click: function() {
                        window.location = "@url";
                    },
                    klass: "menu-item-1"
                };
                options['Send Group Email'] = {
                    click: function() {
                        window.location = "mailto:@Model.DirectReportEmails?subject=@Model.Name";
                    },
                    klass: "menu-item-2"
                };
                options['Start Group Lync Conversation'] = {
                    @{
                                url = Model.DirectReportEmails;
                                url = "../Lync/StartMulti/?emails=" + url;
                            }
                    click: function() {
                        window.open("@url");
                    },
                    klass: "menu-item-3"
                };
                break;
        }

        // Create context menu with using options
        $('#centreLabel').contextMenu('context-menu-1', options);


    });

    $(window).resize(function() {
        buildBracelet();
    });

    function buildBracelet() {
        var svgNS = "http://www.w3.org/2000/svg";
        var xlinkNS = "http://www.w3.org/1999/xlink";

        var maxsize = Math.min(window.innerWidth, window.innerHeight);

        var circleRadius = maxsize / 2 - 190;
        if (circleRadius < 100) {
            circleRadius = 100;
        }

        var mainSvgWidth = window.innerWidth;
        var mainSvgHeight = circleRadius * 2.5;
        if (mainSvgWidth > 700) {
            mainSvgWidth = 700;
        }

        var mainSvgWidthHalf = mainSvgWidth / 2;
        var mainSvgHeightHalf = mainSvgHeight / 2;

        var charmSizeRatio = .25;
        var charmSize = charmSizeRatio * circleRadius;

        var div = document.getElementById('SVGdiv');

        var svg = document.createElementNS(svgNS, 'svg');
        svg.setAttribute("width", mainSvgWidth);
        svg.setAttribute("height", mainSvgHeight);
        div.innerHTML = "";
        div.appendChild(svg);

        var newCircle = document.createElementNS(svgNS, 'circle');
        newCircle.setAttribute("id", "prettybracelet");
        newCircle.setAttribute("cx", mainSvgWidthHalf);
        newCircle.setAttribute("cy", mainSvgHeightHalf);
        newCircle.setAttribute("r", circleRadius);
        newCircle.setAttribute("stroke", "#00FFFF");
        newCircle.setAttribute("stroke-width", "3");
        newCircle.setAttribute("fill", "transparent");
        svg.appendChild(newCircle);

        var innerCircle = document.createElementNS(svgNS, 'circle');
        innerCircle.setAttribute("id", "prettyinnerbracelet");
        innerCircle.setAttribute("cx", mainSvgWidthHalf);
        innerCircle.setAttribute("cy", mainSvgHeightHalf);
        innerCircle.setAttribute("r", circleRadius - 3);
        innerCircle.setAttribute("stroke", "#0066FF");
        innerCircle.setAttribute("stroke-width", "3");
        innerCircle.setAttribute("fill", "transparent");
        svg.appendChild(innerCircle);
        var outerCircle = document.createElementNS(svgNS, 'circle');
        outerCircle.setAttribute("id", "prettyouterbracelet");
        outerCircle.setAttribute("cx", mainSvgWidthHalf);
        outerCircle.setAttribute("cy", mainSvgHeightHalf);
        outerCircle.setAttribute("r", circleRadius + 3);
        outerCircle.setAttribute("stroke", "#0066FF");
        outerCircle.setAttribute("stroke-width", "3");
        outerCircle.setAttribute("fill", "transparent");
        svg.appendChild(outerCircle);

        var labelSize = charmSize * 2;
        var labelx = mainSvgWidthHalf - labelSize / 2;
        var labely = mainSvgHeightHalf - labelSize / 2 - 20;
        var newImage = document.createElementNS(svgNS, 'image');
        newImage.setAttribute("id", "centreLabel");
        newImage.setAttribute("class", "target1");
        newImage.setAttribute("height", labelSize);
        newImage.setAttribute("width", labelSize);
        newImage.setAttribute("x", labelx);
        newImage.setAttribute("y", labely);
        newImage.setAttribute("background-color", "red");
        newImage.setAttributeNS(xlinkNS, "href", "@Model.ImageUrl");
        svg.appendChild(newImage);

        var textX = labelx + labelSize / 2;
        var textY = labely + labelSize + 20;
        var newText = document.createElementNS(svgNS, 'text');
        newText.setAttribute("x", textX);
        newText.setAttribute("y", textY);
        newText.setAttribute("style", "font-weight:bold; text-anchor:middle; font-size:2em; font-family:sans-serif; fill:black; stroke:blue; stroke-width:1;");
        newText.textContent = '@Model.Name';
        svg.appendChild(newText);

        @foreach (var pic in Model.CharmPics)
        {
            if (pic.OffBracelet)
            {
                continue;
            }
            <text>drawCharm('@pic.ImageUrl', @pic.Degrees, svg, charmSize, circleRadius, mainSvgHeight, mainSvgWidth, @pic.ID, '@pic.Name', '@pic.Email')</text>
        }
}

    function drawCharm(imageUrl, degrees, svg, charmSize, circleRadius, mainSvgHeight, mainSvgWidth, targetID, targetName, targetEmail) {
        var svgNS = "http://www.w3.org/2000/svg";
        var xlinkNS = "http://www.w3.org/1999/xlink";

        // Top left corner of square is 0,0
        // Centre of circle is mainSvgSize/2,mainSvgSize/2
        // Radius of circle is circleRadius

        var circleCentreX = mainSvgWidth / 2;
        var circleCentreY = mainSvgHeight / 2;

        // 0 degrees is the right hand side of the circle
        // proceeding clockwise from there (90, 180, 270)
        // 270 or -90 degrees is the top of the circle, for parent charms

        var radians = (degrees / 360) * 2 * Math.PI;
        var charmCentreX = circleRadius * Math.cos(radians) + circleCentreX;
        var charmCentreY = circleRadius * Math.sin(radians) + circleCentreY;

        var charmx = charmCentreX - charmSize / 2;
        var charmy = charmCentreY - charmSize / 2;

        var newLink = document.createElementNS(svgNS, 'a');
        newLink.setAttributeNS(xlinkNS, "xlink:href", "../Bracelet/"+targetID);
        svg.appendChild(newLink);

        var newImage = document.createElementNS(svgNS, 'image');
        newImage.setAttribute("height", charmSize);
        newImage.setAttribute("width", charmSize);
        newImage.setAttribute("id", targetID);
        newImage.setAttribute("data-email", targetEmail);
        newImage.setAttribute("class", "miniLabel");
        newImage.setAttribute("x", charmx);
        newImage.setAttribute("y", charmy);
        newImage.setAttributeNS(xlinkNS, "href", imageUrl);
        newLink.appendChild(newImage);

        var textX = charmx + charmSize/2;
        var textY = charmy + charmSize + 10;
        var newText = document.createElementNS(svgNS, 'text');
        newText.setAttribute("x", textX);
        newText.setAttribute("y", textY);
        newText.setAttribute("style", "font-weight:bold; text-anchor:middle; font-size:1em; font-family:sans-serif; fill:black");
        newText.textContent = targetName;
        newLink.appendChild(newText);
    }

</script>
