<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Content/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/bootstrap-3.3.2-dist/js/jquery-1.11.2.min.js"></script>
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("BLING ME", "Index", "Home")</p>
            </div>
            <style>
                span.input-group-addon.dropdown-toggle {
                    display: none;
                }
            </style>
            <div class="float-right">
                @Html.Action("_Search", "Home")
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix" id="canvasWrap">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year Team Awesome</p>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)

</body>
</html>
